.app {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 200px;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #c74dec0c;
  border-radius: 5px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.todo {
  background-color: rgba($color: #b237d8f3, $alpha: 0.3);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 10px;
  height: 30px;
  width: 400px;
  align-items: center;
}

.buttons-area {
  margin: 10px;
}

